/**
*
* app/style/fonts.styl
* Base, reset...
*
**/

@import './variables'
@import './mixins'

// RESET
* {
  margin: 0;
  padding: 0;
}

html, body, #layout {
  width: 100%;
  height: 100%;
  color: fontColor;
  font-family: fontFamily;
}

body {
  transition: opacity 0.2s;
}

button, input {
  background-color: transparent;
  border: none;
  font: inherit;
  line-height: normal;
  outline: none;
}

a { text-decoration: none }

ul { list-style-type: none }

// CSS MASTER
._content {
  container();
}

#camera-coord {
  position: fixed;
  bottom: _margin;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.dg.ac {
  z-index: 99;
}

// - UX
a
  font-size: 0.8rem
  color: secondaryColor

.f
  position: fixed;
  z-index: 99;
  bottom: 20px
  right: 30px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor;
  text-align: center;


header {
  position fixed;
  z-index: 99;
  top: 15px;
  left: 15px;

  p, a {
    font-size: 0.8rem;
  }

  a {
    display block;
    font-size: 0.7rem;
    margin-top: 10px;
  }
}