/**
*
* app/style/variables.styl
* Here you can declare all utils variables
*
**/


// BASE
_margin = 16px;

// FONTS
fontFamily = arial, sans-serif;

// COLORS
fontColor = #e6e6e6;
backgroundColor = #ffffff;
overlayColor = #3A3A3B;
